<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <!-- PUPPY SETTINGS -->
    <add key="puppy:bootstrap:enableMenuService" value="false" />
    <add key="puppy:bootstrap:enableUpdaterService" value="false" />

    <!-- SERILOG SETTINGS -->
    <add key="serilog:using" value="Seq.Client.Serilog" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>